html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Tagesschrift", sans-serif;
}
h1 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;
 }
 html {
  background-color: #9f3a00;
}
body {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  background-color: #b87d11;
  padding: 0 20px 10px 50px ;
  border: 100px solid rgb(92, 17, 17);
}
h1 {
  margin: 0 auto;
  padding: 10px 0;
  color: #9f0000;
  text-shadow: 3px 3px 1px rgb(20, 3, 3);
}
img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
}
h2 {
  margin: 0 auto;
  font-size: 50px;
  padding: 20px 0;
  color: #7a285b;
  text-shadow: 3px 3px 1px rgb(20, 3, 3);
}
.blink {
  animation: blinker 2s linear infinite;
  color: red;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
